body {
    margin:0;
    background-color:#e9ebee;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.stickLeft {
    position: fixed;
  }
  
.sticky + .container {
    padding-top: 48px;
}

.navbar{
    background-color: #4267b2 ;
    padding: 0;
    margin: 0;
    display: flex;
}

#facebook_icon{
    width: 29px;
    padding-right: 10px;
    padding-left: 350px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.searchbox{
    display: flex;
    padding-top: 8px;
    padding-bottom: 4px;
}
.input{
    position: relative;
    border-radius: 3px;
    height: 26px;
    width: 385px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border:1px solid #4267b2;
    font-size: 20px;
}

.btn {
    position: relative;
    border-radius: 4px;
    height: 30px;
    border:1px solid #4267b2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    border-color: #4267b2;
    cursor: pointer;
}

.menu{
    display: flex;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 230px;
    color:#FFF;
}
.home_menu{
    border:4px solid #4267b2;
    border-left: 10px solid #4267b2;
    border-right: 10px solid #4267b2;
}

.home_menu:hover{
    background-color: #3b5ca0;
    border:4px solid #3b5ca0;
    border-left: 10px solid #3b5ca0;
    border-right: 10px solid #3b5ca0;
    border-radius: 2px;

}

.container {
    display: grid;
    grid-template-columns: 870px;
    color: #FFF;
    font-weight: bold;
    margin-right: 240px;
    margin-left: 350px;
  } 
.cover{
    background-color: brown;
    overflow: hidden;
}
.cover_img{
    height: 558px;
    width: 870px;
    margin-top: -245px;
}
.c_menu{
    display: grid;
    grid-template-columns: 200px 100px 100px 180px 100px 100px 89px;
    text-align: center;
}
.timeline{
    grid-column: 2/2;
}