body {margin:0;}

.bg-light{
    background-color: #4267b2 ;
    padding: 0;
    margin: 0;
}

#facebook_icon{
    width: 30px;
}

.searchbox{
    display: flex;

}
.input{
    position: relative;
    border-radius: 4px;
    height: 25px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border:1px solid #ccc;
}

.btn {
    position: relative;
    border-radius: 4px;
    height: 29px;
    border:1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    border-color: #ccc;
}